/* ==== SECTIONS.CSS ==== */

/* ==== HEADER ==== */
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2000;
}

/* ==== NAVIGATION ==== */
nav {
    justify-content: space-between;
    height: 10vh;
}

nav ul {
    list-style-type: none;
    gap: 1rem;
}

.icons button {
    border: none;
    background: transparent;
}

.icons {
    gap: 0.5rem;
}

/* ==== HERO ==== */
.hero {
    background-image: url("../images/gg-hero.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.cta {
    flex-direction: column;
    background-color: var(--base);
    gap: 1.8rem;
    margin-left: 10%;
    width: 50%;
    max-width: 800px;
}

.buttons-container {
    gap: 0.8rem;
}

.text {
    flex-direction: column;
    gap: 0.8rem;
}

/* ==== NEUE REZEPTE ==== */

.neue-rezepte {
    flex-direction: column;
    gap: 1rem;
}

.card-container {
    width: 75%;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    gap: 2rem;
}

.card {
    flex-direction: column;
    border: 1px solid var(--light);
    box-shadow: 8px 8px 24px #e0e0e0;
    padding: 0.8rem;
    justify-content: space-between;
    gap: 1.2rem;
}

/* ==== ABOUT ==== */

.about {
    background-color: var(--base);
    gap: 4rem;
    flex-wrap: wrap;
}

.about img {
    border: 12px solid var(--dark);
}

.about>div {
    flex: 0 1 496px;
}

.about-text {
    flex-direction: column;
    gap: 1rem;
}

/* ==== NEWSLETTER ==== */

input,
select,
textarea,
button {
    font: inherit;
}

.newsletter {
    flex-direction: column;
    gap: 2rem;
}

.newsletter-form {
    flex-direction: column;
    gap: 1.2rem;
}

.checkboxes {
    gap: 1.2rem;
    flex-wrap: wrap;
}

.checkbox-1,
.checkbox-2 {
    gap: 0.8rem;
    accent-color: var(--light);
}

.anmelden div {
    flex-direction: column;
}

.anmelden input[type="email"] {
    min-height: 3.2rem;
    width: 24rem;
    padding: 0 1rem;
}

.anmelden {
    align-items: end;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.anmelden button {
    height: 3.2rem;
    line-height: 0;
}

/* ==== FOCUS STATES ==== */
input[type="checkbox"]:focus-visible,
input[type="email"]:focus-visible {
    border: 1px solid transparent;
    outline: 3px solid var(--primary);
}


/* ==== FOOTER ==== */

footer {
    background-color: var(--dark);
    color: var(--light);
    gap: 4rem;
    flex-wrap: wrap;
    padding-left: 6rem;
    padding-right: 6rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer i,
footer a {
    color: var(--light);
    font-weight: normal;
}

.contact,
.rechtliches {
    flex-direction: column;
    gap: 1rem;
}

.social-icons {
    gap: 2rem;
}

footer i {
    font-size: 2rem;
}


/* STATES (eigenes stylesheet im wahren Leben) */

.hamburger {
    display: none;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

/* OVERLAY */

.overlay {
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 3000;
}

.overlay-content {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.overlay-content ul {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    gap: 1rem;
}

.close-btn,
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.close-button i,
.hamburger i {
    font-size: 2rem;
    color: var(--dark);
}

/* ======================= */
/* ==== MEDIA QUERIES ==== */
/* ======================= */

/* ==== TABLET ==== */
@media screen and (max-width:992px) {

    .hero {
        justify-content: center;
    }

    .cta {
        margin: 0 auto;
        text-align: center;
        width: 75%;
    }

    .buttons-container {
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .buttons-container a {
        min-width: 14rem;
    }
}

/* ==== MOBILE ==== */
@media screen and (max-width:576px) {

    nav .icons,
    nav a {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* HERO SECTION */
    .hero {
        align-items: end;
    }

    .cta {
        width: 100%;
        /* background-color: rgba(255, 243, 227, 0.8); */
        background-color: #fff3e3cc;
    }

    /* NEUE REZEPTE */

    .card-container {
        width: 90%;
    }

    .card {
        align-items: center;
        text-align: center;
    }

    /* ABOUT */

    .about {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    /* NEWSLETTER */

    .newsletter {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .anmelden input[type="email"] {
        width: 100%;
    }

    .anmelden div {
        width: 100%;
    }

    /* FOOTER */

    footer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}