/* ==== STYLE.CSS ==== */

/* ==== RESET ==== */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* ==== FONTS ==== */

html {
    font-family: var(--body-text);
    font-size: 125%;
    line-height: 1.5;
    color: var(--dark);
}

h1 {
    font-size: 3.375rem;
}

h2 {
    font-size: 2.25rem;
}

h3,
h4 {
    font-size: 1rem;
}

.subheading {
    font-family: var(--subheading);
    font-size: 1.5rem;
    font-style: italic;
}

h1,
h2,
h3,
h4 {
    font-family: var(--display-text);
    line-height: 1.2;
    letter-spacing: -2;
}

/* ==== SPACING ==== */

/* Horizontal */
.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

/* Vertical */
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3 {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* IMAGES */

img {
    max-width: 100%;
    height: auto;
}

/* ==== UTILITIES ==== */

/* FONT FORMATS */

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

/* FLEX */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* ==== LINKS ==== */
a {
    color: var(--dark);
    text-decoration: none;
    font-weight: 600;
}

.btn {
    padding: 0.8rem 1.2rem;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-weight: 600;
}

button {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--light);
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--dark);
}

a:hover,
.btn:hover {
    filter: brightness(80%);
    text-decoration: underline;
}

a:focus-visible,
button:focus-visible {
    outline: 2px solid var(--primary);
}

a:has(i) {
    line-height: 0;
}

i {
    font-size: 1.2rem;
}

/* ==== GRID ==== */

.grid {
    display: grid;
}

/* ==== MEDIA QUERIES FONTS ==== */

/* ==== TABLET ==== */
@media screen and (max-width:992px) {
    html {
        font-size: 100%;
    }
}

/* ==== MOBILE ==== */
@media screen and (max-width:576px) {
    html {
        font-size: 90%;
    }
}

/* ==== MOBILE ==== */
@media screen and (max-width:345px) {
    html {
        font-size: 85%;
    }
}