/* ==== VARIABLES.CSS ==== */

:root {

    /* colors */
    --primary: #116156;
    --secondary: #EDAA05;
    --base: #FFF3E3;
    --light: #E0E0E0;
    --dark: #424242;

    /* fonts */
    --body-text: 'Hind Madurai', Arial, Helvetica, sans-serif;
    --display-text: 'Libre Baskerville', 'Times New Roman', serif;
    --subheading: 'Lora', 'Times New Roman', serif;
}